---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


$base-font-family: 'Gill Sans', 'Gill Sans MT', Helvetica, Arial, sans-serif;
$base-font-size: 18px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$text-color: #333;
$text-light: #777;
$green-light-text: #c8dea8;
$green-light: #86b648;
$green-mid: #428f00;
$green-dark: #2c460d;

$content-width: 800px;

@mixin respond-to($size) {
	@media (max-width: $size) {
		@content;
	}
}

* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

body {
	font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
	color: $text-color;
	background-color: #fff;

  @include respond-to(500px) {
    font-size: 16px;
  }
}

.header {
  background: $green-mid;
  color: $green-light-text;
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 280px;
  overflow: scroll;

  @include respond-to(700px) {
    position: static;
    width: 100%;
  }

  @include respond-to(500px) {
    padding: 0 20px;
  }
}

.header__container {
  padding: $spacing-unit 0;
}

.header__title {
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  font-size: 40px;
  margin-top: -5px;
  display: block;

  span {
    font-weight: 200;
  }
}

.header__description {
  margin-bottom: 20px;

  a {
    color: $green-light-text;
  }
}

.header__meta {
  border-top: 1px solid $green-light;
  margin-top: 20px;
  padding-top: 20px;
  font-size: 14px;

  p {
    margin-bottom: 0;
  }

  a {
    color: $green-light-text;
  }
}

.header__nav {
  overflow: hidden;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    margin-bottom: 10px;

    > ul {
      display: none;
      padding-left: 10px;
      font-size: 14px;
      border-left: 1px solid $green-light;
    }
  }

  a {
    color: #fff;
    text-decoration: none;
    line-height: 1;
    display: inline-block;

    &:hover {
      text-decoration: underline;
    }
  }

  li.active {
    > a {
      font-weight: 600;
    }
    > ul {
      display: block;
      margin-top: 5px;
    }
  }
}

.content {
  margin-left: 310px;
  max-width: 700px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;

  @include respond-to(700px) {
    margin: 30px auto;
    padding: 0 30px;
  }

  @include respond-to(500px) {
    padding: 0 20px;
  }
}


h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

ul,
ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
       margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

a {
  color: blue;
  text-decoration: underline;
}

.gallery {
  overflow: hidden;
  margin: $spacing-unit 0;

  .gallery__item {
    float: left;
    width: 30%;
    margin: 0 3% 3% 0;
    background: #eee;
    padding: 20px;

    @include respond-to(850px) {
      width: 44%;
    }

    @include respond-to(500px) {
      width: 100%;
      margin-right: 0;
    }
  }

  .gallery__image {
    display: block;
    padding-bottom: 100%;
    position: relative;

    img {
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}

.breadcrumb {
  overflow: hidden;
  font-size: 14px;
  list-style-type: none;
  margin: 0 0 10px 0;
  padding: 0;
  color: $text-light;

  a {
    color: $text-light;
    display: inline-block;

    &:after {
      content: '\00BB';
      display: inline-block;
      margin: 0 0 0 4px;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}

iframe {
  margin: 20px 0;
}

hr {
  border: none;
  background-color: #ccc;
  height: 1px;
  margin: 30px 0;
}

ul:empty {
  display: none;
}