<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} — {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
  </head>

  <body>

    <div class="header">
      <div class="header__container">
        <a class="header__title" href="{{ site.baseurl }}/">Bekonscot</a>
        <p class="header__description">A guide to the oldest model village in the world. Curated by <a href="http://timdunn.com/">Tim Dunn</a>.</p>
        <nav class="header__nav">
          {% include navigation.html context="/" %}
        </nav>
      </div>
    </div>

    <div class="content">
      <div class="breadcrumb">
        <a href="{{ site.baseurl }}/">Home</a>
        {% capture page_url_without_index_html %}{{ page.url | remove: "/index.html" }}{% endcapture %}
        {% assign splitted_url_parts = page_url_without_index_html | split: '/' %}
        {% capture forLoopMaxInt %}{{ splitted_url_parts.size | minus:1 }}{% endcapture %}
        {% for i in (1..forLoopMaxInt) %}
            {% capture current_breadcrumb_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/index.html{% endcapture %}
            {% capture current_breadcrumb_md_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/{% endcapture %}
            {% capture next_prepender %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %}
            {% for breadcrumb_page in site.pages %}
                {% if current_breadcrumb_url == breadcrumb_page.url or current_breadcrumb_md_url == breadcrumb_page.url  %}
                    {% capture breadcrumb_page_page_url_without_index_html %}{{ breadcrumb_page.url | remove: "index.html" }}{% endcapture %}
                    <a href="{{ site.baseurl }}{{breadcrumb_page_page_url_without_index_html}}" {% if i == forLoopMaxInt %}class="active"{% endif %}>{{breadcrumb_page.title}}</a>
                {% endif %}
            {% endfor %}
        {% endfor %}
      </div>
      <h1>{{ page.title }}</h1>
      <p>{{ page.intro }}</p>
      {{ content }}
      <hr>
      {% include navigation.html context=page.url %}
    </div>

  </body>

</html>
